

.contact-info {
    color: red;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    
  }

  a:visited  {
    color:white;
  }
  a {
    color:white;
  }
  
  .contact-address {
    color: white;
    font-size: 14px;
  }

  .contact-number {
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px) {
    .contact-info {
      font-size: 20px;
      position: absolute;
      bottom: 0;
      width:100%;
    }
    .container {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .contact-address {
      color: white;
      font-size: 10px;
    }
  
    .contact-number {
      font-size: 10px;
    }
  }